body {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  margin: 0;
  margin-left: 20px;
  background-color: #efecd7;
}

h1 {
  padding: 20px;
  margin: -10px;
  text-align: center;
  background-color: #4C4541;
  color: #FCF0DA;
  margin-left: -20px;
}

img {
  display: block;
  width: 300px;
  height: auto;
  padding: 20px;
  margin: 0 auto;
}

div {
  background-color: #FCF0DA;
  color: #4C4541;
  margin-top: 10px;
  margin-left: -20px;
  padding: 2px;
}

p {
  padding-left: 20px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4C4541;
  color: #FCF0DA;
  text-decoration: none;
  border-radius: 5px;
  margin: 20px;
}

.button {
  text-align: center;
  background-color: #efecd7;
}

